@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Anton&family=Edu+TAS+Beginner&family=Gabarito&family=Poppins:ital,wght@1,300&family=Roboto+Condensed:ital@1&family=Roboto+Mono:ital,wght@1,500&family=Tilt+Neon&family=Young+Serif&display=swap");
body {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  flex-basis: 100%;
  background-color: white;
}
.img {
  flex-basis: 7%;
  margin-right: 3px;
  margin-left: 100px;
}
.image {
  width: 250px;
  height: 100px;
}
.list {
  flex-basis: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-overflow: hidden;
}
.list-r {
  font-size: 150%;
  padding-right: 5%;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
}
.list-r:hover .links {
  color: indigo;
  text-decoration-color: indigo;
}
.links {
  color: rgb(109, 103, 103);
  text-overflow: hidden;
}
.links:hover {
  color: indigo;
  text-decoration-color: indigo;
}
.hidden {
  display: none;
  width: 200px;
  position: absolute;
  top: 100px;
  border: 2px solid rgb(0, 0, 83);
  background-color: white;
  z-index: 1;
}
.list-r:hover {
  text-decoration: underline;
  border-top-color: black;
  color: indigo;
  text-decoration-color: indigo;
}
.list-r:hover .hidden {
  display: block !important;
}
.hid_l {
  font-size: large;
  font-family: "Gabarito", Verdana, Geneva, Tahoma, sans-serif;
  color: blueviolet;
  padding: 5px 5px 5px 5px;
}
.hid_l:hover {
  background-color: rgb(208, 216, 223);
  color: darkmagenta;
  text-decoration: underline;
}
.cont_2 {
  display: flex;
  flex-basis: 100%;
  background-color: black;
  overflow: hidden;
}
.cont_2_1 {
  flex-basis: 50%;
  margin-top: 50px;
  color: white;
  font-weight: 10;
  height: 150px;
  text-align: center;
  font-size: x-large;
  font-family: "Poppins", sans-serif;
}
.txt {
  font-family: "Edu TAS Beginner", cursive;
  color: white;
  font-weight: 900;
  font-size: xx-large;
  z-index: 1;
}
.cont_2_1_2 {
  font-size: large;
  color: rgb(86, 105, 228);
  font-family: "Poppins", monospace;
}
.cont_2_2 {
  flex-basis: 50%;
  font-size: large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sprt:hover {
  background-color: transparent;
  padding-top: 1px;
}
.btn {
  font-size: large;
  padding: 8px 8px 8px 8px;
  background-color: rgba(3, 3, 81, 0.8);
  color: white;
}
.btn:hover {
  text-decoration: underline;
  background-color: rgba(3, 3, 81, 1);
  color: blueviolet;
}
.learn {
  font-size: x-large;
  color: white;
}
.learn:hover {
  background-color: black;
}
.cont_3 {
  display: flex;
  flex-basis: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10%;
  background-color: rgba(191, 187, 255, 0.39);
}
#changing-text {
  background-color: #212529;
  padding: 10px;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  font-family: "Gabarito";
  font-size: 3rem;
}

.cont_3_1_0 {
  text-align: center;
}
.cont_3_1_1 {
  font-family: "Poppins";
  font-size: xx-large;
  font-weight: 1000;
}
.cont_3_1_2 {
  text-align: center;
  padding-top: 10px;
  font-size: x-large;
  font-style: italic;
  font-family: "Gabarito";
  color: rgb(98, 101, 101);
}
.cont_3_3 {
  display: flex;
  flex-basis: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.cont_3_0 {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  padding-bottom: 5%;
  background-color: rgba(191, 187, 255, 0.39);
}
.cont_3_2 {
  display: flex;
  flex-basis: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.box {
  display: flex;
  flex-basis: 26%;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
  height: 300px;
  margin-top: 5%;
  margin-bottom: 3%;
  background-color: white;
  box-shadow: 0 5px 0 rgba(60, 0, 255, 0.688);
  border-radius: 3%;
}
.box_ {
  display: flex;
  flex-basis: 5%;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  width: 80px;
}
.box_1 {
  flex-basis: 20%;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  font-size: xx-large;
  font-family: "Tilt Neon", Arial, Helvetica, sans-serif;
}
.box_1link {
  color: darkmagenta;
}
.box_1link:hover {
  color: darkmagenta;
}
.box_2 {
  flex-basis: 20%;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: x-large;
  font-family: "Gabarito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: darkorchid;
}
.box_img {
  height: 80px;
  position: relative;
  padding: 13px;
  top: -35px;
  border-radius: 50%;
  background: rgb(22, 22, 233);
  background: linear-gradient(
    90deg,
    rgb(73, 4, 80) 0%,
    rgb(122, 37, 141) 50%,
    rgb(89, 43, 100) 100%
  );
}
.box:hover .box_img {
  outline-style: outset;
  outline-offset: 8px;
  outline-width: 5px;
  outline: 50%;
  outline-color: blueviolet;
  transition-duration: 500ms;
}

#body {
  display: flex;
  flex-basis: 100%;
  margin-top: 50px;
  min-width: 77vw;
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}

.quote-box {
  padding: 3rem;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.text {
  font-size: 30px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
  color: transparent;
  -webkit-background-clip: text;
}

.quote {
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.new-quote {
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding-bottom: 8px;
  padding-top: 9px;
  margin-top: 5px;
  background-image: linear-gradient(to right bottom, #ed4264a8, #ffedbca8);
}

.text-center {
  text-align: center;
}

.new-quote:hover {
  opacity: 0.6;
}

.author {
  margin: 10px;
  font-size: 20px;
  transition: 0.5s;
  transition-timing-function: ease-in;
  font-family: "Open Sans Condensed", sans-serif;
  background-image: linear-gradient(to right bottom, #28313b, #485461);
  color: transparent;
  -webkit-background-clip: text;
}

p {
  margin-top: 5px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 21.5%;
}

.block {
  perspective: 150rem;
}

.block__main {
  width: 98%;
  position: absolute;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  background-image: linear-gradient(to right bottom, #f6f0ea, #f1dfd1);
}

.block__back {
  transform: rotateY(180deg);
}

.rotateF {
  transform: rotateY(-180deg);
}

.rotateB {
  transform: rotateY(0deg);
}
